{% block header %}

    <header>

        <div id="header-content-div">

            <div id="title-link-div">
                <a id="title-a" href="/">Mo' Grits</a>
            </div>

            <div id="menu-button-div">
                <button id="menu-button" onclick="testNav()">
                    <img id="menu-img" src="/static/baseline_menu_black_18dp.png" alt="MENU">
                </button>
            </div>

            <div id="nav-div">
                <a id="us-a" class="nav-a" href="">About Us</a>
                <a id="locations-a" class="nav-a" href="">Locations</a>
            </div>

            <div id="social-div">
                <a id="fb-a" class="social-a" href="">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a id="tw-a" class="social-a" href="">
                    <i class="fab fa-twitter"></i>
                </a>
                <a id="ig-a" class="social-a" href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <div id="reserve-div">
                <a id="reserve-a" href="">Reservations</a>
            </div>

        </div>

    </header>

{% endblock %}